<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="pescarolo:export-products" xsi:type="object">Pescarolo\ImportExport\Console\Command\ExportProducts</item>
                <item name="pescarolo:import-products" xsi:type="object">Pescarolo\ImportExport\Console\Command\ImportProducts</item>
            </argument>
        </arguments>
    </type>
</config>
